/*body{
    background-color: #81f34c
}
.cls-form-div{
    height: auto;
    width: 300px;
    background-color: #ffffff;
    margin: 125px 500px;
    padding: 20px;
}
input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    font-family: sans-serif;

}
input[type=submit]{
    width: 100%;
    font-family: sans-serif;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #41961a;
    text-align: center;
    text-anchor: inherit;
    cursor: pointer;
    color: #ffffff

}
input[type=submit]:hover{
    background-color: #2e720e
}*/
.header{
    width: 100%;
    height: 40px;
    background-color: #040E3F
}
body{
    background-color: #E8EAE8
}
.container{
    background-color: #f2f2f2;
    margin: 20px;
    height: auto;
    border-radius: 5px;

}
.title{
    color: white;
    float: left;
    max-height: 56px;
    padding-left: 14px;
    padding-top: 7px;
    font-weight: 500;
}
input[type=text]{
    width: 35%;
    border: 0px;
    padding: 15px 20px;
    margin-left: 338px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #E8EAE8;
    padding-left: 20px;

    background-image: url('icons8-search-24.png');
    background-repeat: no-repeat;
    background-position: left;
    

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #040E3F;
    font-style: italic;
    padding-left: 10px;
  }
  input[type=text]:focus {
    background-image: none;
}
.btn-search{
    width: 7%;
    font-family: sans-serif;
    border: none;
    padding: 15px 9px;
    margin-left: 5px;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #040E3F;
    font-size: 13px;
    text-align: center;
    text-anchor: inherit;
    cursor: pointer;
    color: #ffffff;
}
.btn-search:hover{
    background-color: #403eca
}
.show-details-container{
    background-color: #E8EAE8;
    width: 65%;
    height: 155px;
    margin-left: 199px;
    margin-top: 51px;
    border-radius: 5px;
}
.show-img{
    float: left;
    width:30%;
    
}
.show-description-container{
    float: right;
    width: 74%;
    height: auto;
}
.show-title{
    margin-left: 20px;
    margin-top: 15px;
    color: #040E3F;
    font-weight: 700;
    font-size: 20px;
}
.show-description{
    width: 470px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 5px;

    
    
}
.btn-show-episode{
    width: 20%;
    font-family: sans-serif;
    border: none;
    padding: 5px 0px;
    margin-left: 20px;
    margin-top: 7px;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #040E3F;
    font-size: 9px;
    text-align: center;
    text-anchor: inherit;
    cursor: pointer;
    color: #ffffff;
}
.show-Img-disp{
    text-decoration: none;
    position: relative;
    z-index: 10;
    top: -23px;
    right: -40px;
    width: 167px;
    height: 203px;
    border-radius: 4px;
    
    
}
/*.header-logo{
    float: left;
    height: 56px;
    width: 55px;
    margin-left: 5px;
    margin-top: 2px;
}

.header-nav{
    float: right;
}*/